<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Code Editor | {{lang}}</title>
    <script src="/js/jquery-2.2.1.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.24.0/axios.min.js"
        integrity="sha512-u9akINsQsAkG9xjc1cnGF4zw5TFDwkxuc9vUp5dltDWYCSmyd0meygbvgXrlc/z7/o4a19Fb5V0OUE58J7dcyw=="
        crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <link rel="stylesheet" href="/css/style.css">
</head>

<body>
    <h2>My Code Compiler</h2>
    <div id="program_select">
        <div class="program_type">C</div>
        <div class="program_type">C++</div>
        <div class="program_type">Java</div>
    </div>
    <div id="editor_panel" class="{{lang}}">
        <div id="header_title">
            <h2>Code Editor</h2>
            <button id="run_btn" onclick="executecode()">Run</button>

        </div>
        <div id="code_editor"></div>
    </div>
    <div id="input_panel">
        <div id="input_title">
            <h2>Input Panel</h2>
        </div>
        <div id="stdin"></div>
    </div>
    <div id="output_panel">
        <div id="output_title">
            <h2>Output Panel</h2>
        </div>
        <div id="stdout"></div>
    </div>
    <script src="/src-min/ace.js" type="text/javascript" charset="utf-8"></script>
    <script src="/src-min/ext-language_tools.js" type="text/javascript" charset="utf-8"></script>
    <script src="/js/editor_initialize.js"></script>
    <script src="/js/exec_code.js"></script>
</body>

</html>